.highlighted-text {
    all: revert;
}

.highlighted-text[data-highlight-type="what"] { background-color: rgba(255, 85, 249, 0.2); }
.highlighted-text[data-highlight-type="why"] { background-color: rgba(255, 241, 39, 0.2); }
.highlighted-text[data-highlight-type="detail"] { background-color: rgba(31, 180, 255, 0.2); }

#memo-box {
    background: rgba(246, 246, 246, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 113px;
    
}

#memo-box .memo-box-content {
    background: rgba(246, 246, 246, 1);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    padding: 16px;
    color: #222;
    overflow-y: auto;
    white-space: pre-wrap;
}

.capsule-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 10px;
}

.memo-capsule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 16px;
    border-radius: 24px;
    color: #222;
    font-size: 16px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    width: 167px;
}

.memo-capsule[data-memo-type="what"] { background-color: rgba(255, 224, 247, 1); border: 1px solid rgba(242, 71, 237, 1); color: rgba(242, 71, 237, 1); }
.memo-capsule[data-memo-type="why"] { background-color: rgba(254, 248, 205, 1); border: 1px solid rgba(222, 146, 16, 1); color: rgba(222, 146, 16, 1); }
.memo-capsule[data-memo-type="detail"] { background-color: rgba(219, 243, 255, 1); border: 1px solid rgba(21, 172, 229, 1); color: rgba(21, 172, 229, 1); }

.memo-capsule.clicked-what { background-color: rgba(242, 71, 237, 1); border: 1px solid rgba(242, 71, 237, 1); color: rgba(255, 255, 255, 1); }
.memo-capsule.clicked-why { background-color: rgba(222, 146, 16, 1); border: 1px solid rgba(222, 146, 16, 1); color: rgba(255, 255, 255, 1); }
.memo-capsule.clicked-detail { background-color: rgba(21, 172, 229, 1); border: 1px solid rgba(21, 172, 229, 1); color: rgba(255, 255, 255, 1); }

.capsule-text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 4px;
}

@media (prefers-color-scheme: dark) {
    .highlighted-text[data-highlight-type="what"] { background-color: rgba(255, 85, 249, 0.2); color: inherit; }
    .highlighted-text[data-highlight-type="why"] { background-color: rgba(255, 241, 39, 0.2); color: inherit; }
    .highlighted-text[data-highlight-type="detail"] { background-color: rgba(31, 180, 255, 0.2); color: inherit; }
    
    /*
    #memo-box { background: rgba(42, 42, 50, 1); color: rgba(236, 236, 237, 1); }
    
    #memo-box .memo-box-content { background: rgba(42, 42, 50, 1); color: rgba(236, 236, 237, 1); border: none; }

    .memo-capsule[data-memo-type="what"] { background-color: rgba(51, 17, 50, 1); border: 1px solid rgba(178, 60, 174, 1); color: rgba(178, 60, 174, 1); }
    .memo-capsule[data-memo-type="why"] { background-color: rgba(53, 40, 6, 1); border: 1px solid rgba(208, 157, 0, 1); color: rgba(208, 157, 0, 1); }
    .memo-capsule[data-memo-type="detail"] { background-color: rgba(6, 36, 51, 1); border: 1px solid rgba(16, 134, 178, 1); color: rgba(16, 134, 178, 1); }
    
    .memo-capsule.clicked-what { background-color: rgba(178, 60, 174, 1); border: 1px solid rgba(178, 60, 174, 1); color: rgba(255, 255, 255, 1); }
    .memo-capsule.clicked-why { background-color: rgba(208, 157, 0, 1); border: 1px solid rgba(208, 157, 0, 1); color: rgba(255, 255, 255, 1); }
    .memo-capsule.clicked-detail { background-color: rgba(16, 134, 178, 1); border: 1px solid rgba(16, 134, 178, 1); color: rgba(255, 255, 255, 1); }
    */
}
