/* custom-alert.css */

#taptap-custom-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;
}

#taptap-custom-alert-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

#taptap-custom-alert-overlay .modal-content {
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;

  height: 169px;
  width: 100%;
  margin: 0 44.5px;

  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

#taptap-custom-alert-overlay.visible .modal-content {
  transform: scale(1);
}

#taptap-custom-alert-overlay h3 {
  margin-top: 28px;
  font-size: 16px;
}

#taptap-custom-alert-overlay p {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(99, 99, 108, 1);
  line-height: 150%;
  white-space: pre-line;
}

#taptap-custom-alert-overlay .modal-separator {
  border-bottom: 1px solid rgba(236, 236, 237, 1);
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

#taptap-custom-alert-overlay .modal-buttons {
  display: flex;
  justify-content: center;
  gap: 55px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
  padding: 10px;
}

#taptap-custom-alert-overlay .vertical-separator {
  width: 1px;
  height: 44px;
  background-color: rgba(236, 236, 237, 1);
}

#taptap-custom-alert-overlay button {
  color: rgba(99, 99, 108, 1);
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: transparent;
}

#taptap-custom-alert-overlay .delete-btn {
  color: rgba(255, 72, 72, 1);
}
