/* memo.css */
#memo-box {
  background: rgba(246, 246, 246, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 10px 14px;
  height: auto;
  min-height: 113px;
  padding: 16px;
  box-sizing: border-box;
  z-index: 999998;
}

#memo-box textarea.capsule-input-textarea {
  background: rgba(246, 246, 246, 1);
  border-radius: 8px;
  width: 100%;
  height: 60px;
  font-family: sans-serif;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
  border: none;
  padding: 0;
  outline: none;
  margin-top: 10px;
}
#memo-box textarea.capsule-input-textarea:focus {
  outline: none;
}

.taptap-capsules-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 캡슐 사이의 간격 */
  max-width: 350px; /* 캡슐 2개가 들어갈 정도의 최대 너비 */
  margin-top: 8px; /* 하이라이트와의 간격 */
}

.memo-capsule {
  display: flex; align-items: center; justify-content: space-between;
  padding: 0 8px 0 16px; border-radius: 24px;
  font-size: 16px; height: 40px; box-sizing: border-box; cursor: pointer;
  overflow: hidden; width: 167px;
}

.memo-capsule[data-highlight-color="rgba(255, 85, 249, 0.2)"] {
  background-color: rgba(255, 224, 247, 1);
  border: 1px solid rgba(242, 71, 237, 1);
  color: rgba(242, 71, 237, 1);
}
.memo-capsule[data-highlight-color="rgba(255, 241, 39, 0.2)"] {
  background-color: rgba(254, 248, 205, 1);
  border: 1px solid rgba(222, 146, 16, 1);
  color: rgba(222, 146, 16, 1);
}
.memo-capsule[data-highlight-color="rgba(31, 180, 255, 0.2)"] {
  background-color: rgba(219, 243, 255, 1);
  border: 1px solid rgba(21, 172, 229, 1);
  color: rgba(21, 172, 229, 1);
}

.memo-capsule.clicked[data-highlight-color="rgba(255, 85, 249, 0.2)"] { background-color: rgba(242, 71, 237, 1); color: #fff; }
.memo-capsule.clicked[data-highlight-color="rgba(255, 241, 39, 0.2)"]  { background-color: rgba(222, 146, 16, 1);  color: #fff; }
.memo-capsule.clicked[data-highlight-color="rgba(31, 180, 255, 0.2)"] { background-color: rgba(21, 172, 229, 1);  color: #fff; }

.memo-capsule.clicked .capsule-delete-btn svg path { stroke: #fff; }

.memo-capsule.editing[data-highlight-color="rgba(255, 85, 249, 0.2)"] { background-color: rgba(242, 71, 237, 0.7); color: #fff; border-color: rgba(242, 71, 237, 1); }
.memo-capsule.editing[data-highlight-color="rgba(255, 241, 39, 0.2)"]  { background-color: rgba(222, 146, 16, 0.7);  color: #fff; border-color: rgba(222, 146, 16, 1); }
.memo-capsule.editing[data-highlight-color="rgba(31, 180, 255, 0.2)"] { background-color: rgba(21, 172, 229, 0.7);  color: #fff; border-color: rgba(21, 172, 229, 1); }

.memo-capsule.editing .capsule-delete-btn svg path { stroke: #fff; }

.capsule-text { flex-grow: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 4px; }
.capsule-delete-btn { background: none; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 32px; height: 32px; }
